@mixin card-style($bg-color: rgba(255, 255, 255, 0.2), $blur: 5px) {
  background-color: $bg-color;
  backdrop-filter: blur($blur);
  border-radius: 15px;
  transition:
    transform 0.3s ease,
    background-color 0.3s ease;
  border: 1px solid rgba(255, 255, 255, 0.1);

  &:hover {
    transform: scale(1.05);
    background-color: rgba(255, 255, 255, 0.3);
  }
}
