
@use "../abstracts/variables" as *;
body {
  background-image: url('../img/fondo-cielo.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

main {
  background-color: $bg-main; 
  margin: 20px;
  padding: 20px;
  border-radius: 15px;
}